*{
padding: 0;
margin: 0;
}

nav {
    display: inline-block;
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: #FFAB40;
}

.logo{
    float: left;
    text-align: center;
}

ul{
    float:right;
    text-align: center;
}

li{
    float:left;
    list-style:none;
}